copy_data_from_silver_to_gold_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Get_PipelineMetadata",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[audit].[p_PipelineRunUpsert]",
          "storedProcedureParameters": {
            "EndTimeUTC": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "ParentPipelineRunId": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipeline",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineCompletedSuccessfully": {
              "value": null,
              "type": "Int32"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerId": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "String"
            },
            "Process": {
              "value": "Copy Data From Silver to Gold",
              "type": "String"
            },
            "StartTimeUTC": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "Wh_Procurement",
          "objectId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "ngqjlhh2sjkuxhvxkcda5esliy-ornpozi6xzlezhbnlr5r6anvtq.datawarehouse.fabric.microsoft.com",
              "artifactId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
              "workspaceId": "65f75a74-be1e-4c56-9c2d-5c7b1f01b59c"
            }
          }
        }
      },
      {
        "name": "Get_Metadata",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Get_PipelineMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[meta].[Get_WhProcurement_Metadata]",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "Wh_Procurement",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "ngqjlhh2sjkuxhvxkcda5esliy-ornpozi6xzlezhbnlr5r6anvtq.datawarehouse.fabric.microsoft.com",
                  "artifactId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
                  "workspaceId": "65f75a74-be1e-4c56-9c2d-5c7b1f01b59c"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {
              "schema": "meta",
              "table": "WhProcurement_Metadata"
            }
          }
        }
      },
      {
        "name": "ForEach ProcessSourceData",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get_Metadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Get_Metadata').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Stored Proc Copy Data From Silver To Gold",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": {
                  "value": "@item().TargetStoredProcedureName",
                  "type": "Expression"
                }
              },
              "linkedService": {
                "name": "Wh_Procurement",
                "objectId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "ngqjlhh2sjkuxhvxkcda5esliy-ornpozi6xzlezhbnlr5r6anvtq.datawarehouse.fabric.microsoft.com",
                    "artifactId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
                    "workspaceId": "65f75a74-be1e-4c56-9c2d-5c7b1f01b59c"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Get_PipelineMetadata_End",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "ForEach ProcessSourceData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[audit].[p_PipelineRunUpsert]",
          "storedProcedureParameters": {
            "EndTimeUTC": {
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "ParentPipelineRunId": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipeline",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineCompletedSuccessfully": {
              "value": null,
              "type": "Int32"
            },
            "PipelineId": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineRunId": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineTriggerId": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "String"
            },
            "Process": {
              "value": "Copy Data From Silver to Gold",
              "type": "String"
            },
            "StartTimeUTC": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "WorkspaceId": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "Wh_Procurement",
          "objectId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "ngqjlhh2sjkuxhvxkcda5esliy-ornpozi6xzlezhbnlr5r6anvtq.datawarehouse.fabric.microsoft.com",
              "artifactId": "c4d0385e-9f20-4beb-8c55-1c42475567d9",
              "workspaceId": "65f75a74-be1e-4c56-9c2d-5c7b1f01b59c"
            }
          }
        }
      }
    ]
  }
}